<p>Hello,</p>

<p>Please verify that <strong><%= @user.email %></strong> is the email address you want to use for your Library Management account.</p>

<p>Click the button below to confirm your email address:</p>

<p><%= link_to "Verify Email Address", identity_email_verification_url(sid: @signed_id), class: "email-button" %></p>

<hr>

<p style="color: #666; font-size: 14px;">If you didn't create an account with Library Management, you can safely ignore this email.</p>
