<p>Hello,</p>

<p>We received a request to reset the password for your Library Management account associated with <strong><%= @user.email %></strong>.</p>

<p>Click the button below to set a new password:</p>

<p><%= link_to "Reset Password", edit_identity_password_reset_url(sid: @signed_id), class: "email-button" %></p>

<hr>

<p style="color: #666; font-size: 14px;">This link expires in 20 minutes. If you didn't request a password reset, you can safely ignore this email.</p>
